<% shops.each do |shop| %>
  <li class="py-1.5">
    <%= link_to shop_path(shop.slug), class: "flex justify-between items-center hover:bg-gray-50 dark:hover:bg-gray-700 -mx-2 px-2 py-2.5 rounded transition-colors duration-150 min-h-[44px]" do %>
      <span class="font-medium text-sm text-blue-700 dark:text-blue-400"><%= shop.name %></span>
      <span class="text-xs text-gray-500"><%= shop.prefecture.name %></span>
    <% end %>
  </li>
<% end %>
